<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HPGifImageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>657FC6761EDA7C47009E8EA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657FC68F1EDA7C48009E8EA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657FC69A1EDA7C48009E8EA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
